<p style="color: green"><%= notice %></p>

<% content_for :title, "Blogs" %>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render blog %>
        <p>
          <%= link_to "Show this blog", blog %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
